.loadingPage {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;

    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    svg {
        height: 70px;
        width: 70px;
    }

    img {
        width: 200px;
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
