.button {
	padding: 10px 15px;
	background-color: #1877f2;
	border-radius: 10px;
	font-weight: bold;
	outline: none;
	border: transparent;
	cursor: pointer;

	&:hover {
		background-color: #045ccf;
	}
}

.inputFile {
	display: none;
}
