.profile {
	padding-top: 40px;
	width: 950px;
	min-height: 100vh;

	.navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;

		.navProfile {
			color: #a3a3a3;
			letter-spacing: 1px;
			// font-weight: 500;
			font-size: 12px;
			margin-right: 5px;
		}
	}

	.highlightList {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}
