.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 500;
	animation: show 200ms ease-in-out;
	overflow: hidden;

	.mainClose {
		position: absolute;
		right: 30px;
		top: 0px;
		font-size: 30px;
		cursor: pointer;
	}

	.modal {
		background-color: rgb(38, 38, 38);
		border-radius: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 200;
		animation: show 400ms ease-in-out;

		.title {
			text-align: center;
			display: flex;
			justify-content: center;
			padding: 10px 0;
			padding-bottom: 0;
			position: relative;

			h1 {
				font-size: 16px;
				font-weight: 500;
				width: 100%;
				&::after {
					content: "";
					display: block;
					padding-top: 10px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				}
			}
		}
		.close {
			position: absolute;
			top: -5px;
			right: 10px;
			font-size: 35px;
			cursor: pointer;

			span {
				font-size: 35px;
			}
		}
	}

	.blackBackground {
		background-color: black;
	}
}

.tooltipPosition {
	left: -45px;
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
