.wrapper {
    display: flex;
    height: 95vh;
    .postImg {
        flex: 1;
        align-self: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.sizeModal {
    background-color: black;
    width: 45vw;
    height: 95vh;
}

.modalContent {
    height: 100%;
    width: 520px;
    display: flex;
    flex-direction: column;

    .footerModal {
        margin-top: auto;
    }
}

.post {
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        text-decoration: none;
    }

    .avatar {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 30px;
            width: 30px;
            margin-left: 10px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }

        span {
            text-decoration: none;
            font-weight: bold;

            &:hover {
                opacity: 0.5;
            }
        }
    }
    svg {
        margin-left: auto;
        font-size: 2rem;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}
