.home {
  min-height: 100vh;
  .container {
    display: flex;
    gap: 150px;
  }
}

@media (width < 1260px) {
  .home {
    min-height: 100vh;
    .container {
      display: flex;
      gap: 30px;
    }
  }
}
