.button {
	padding: 8px 15px;
	background-color: #1877f2;
	border-radius: 10px;
	font-weight: bold;
	outline: none;
	border: transparent;
	cursor: pointer;
	position: relative;

	&:hover {
		background-color: #045ccf;
	}

	&:disabled {
		color: #bbbbbb;
		background-color: #2a86ff;
		cursor: inherit;
	}

	.icon {
		position: absolute;
		top: 50%;
		left: 25%;
		transform: translate(-50%, -50%);
	}
}

.btnLight {
	background: #f5f5f5;
	color: black;

	&:hover {
		background: #dedede;
	}
}

.btnMedium {
	width: 170px;
}

.btnLarge {
	width: 350px;

	.icon {
		position: absolute;
		font-size: 20px;
		top: 50%;
		left: 40%;
		transform: translate(-50%, -50%);
	}
}
