.follower {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;

    a {
        text-decoration: none;
    }

    .followerInfo {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }

        > div {
            display: flex;
            flex-direction: column;

            p {
                font-weight: 500;
                font-size: 14px;
            }

            span {
                font-size: 12px;
                color: #a3a3a3;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 220px;
                overflow: hidden;
            }
        }
    }

    .followersBtn {
        background: transparent;
        border: none;
        outline: none;
        color: #1899f2;
        font-size: 12px;
        cursor: pointer;

        &:hover {
            color: #f5f5f5;
        }
    }
}
