.user {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0;

	.userInfo {
		display: flex;
		align-items: center;
		gap: 15px;

		img {
			height: 30px;
			width: 30px;
			border-radius: 50%;
			object-fit: cover;
			cursor: pointer;
		}

		> div {
			display: flex;
			flex-direction: column;

			a {
				text-decoration: none;
				font-weight: bold;
				font-size: 1.6rem;
			}

			span {
				font-size: 14px;
				opacity: 0.7;
			}
		}
	}

	button {
		background: transparent;
		color: #1899f2;
		font-size: 12px;
		cursor: pointer;

		&:hover {
			color: #f5f5f5;
		}
	}
}
