.sidebar {
  height: 100vh;
  width: 250px;
  background-color: black;
  position: fixed;
  padding: 0 10px;
  padding-top: 10px;
  margin-top: 0;
  border-right: 1px solid rgba($color: #ffffff, $alpha: 0.15);
  z-index: 1;
}

.logoIcon {
  margin: 32px 0 30px 12px;
  font-size: 20px;

  svg {
    animation: logoSmooth 0.5s ease-in-out;
  }
}

.logoText {
  svg {
    animation: logoSmooth 0.5s ease-in-out;
  }
}

.sidebarSmall {
  z-index: 10000;
  width: 70px;
  animation: transitionDropDown 1s ease-in-out;
  transition: all 0.5s linear;
  svg {
    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes transitionDropDown {
  from {
    border-right: transparent;
  }
  to {
    border-right: 1px solid rgba($color: #ffffff, $alpha: 0.15);
  }
}

@keyframes logoSmooth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (width < 1260px) {
  .sidebar {
    width: 70px;
    padding: 0 10px;
    padding-top: 10px;
    margin-top: 0;
    border-right: 1px solid rgba($color: #ffffff, $alpha: 0.15);
    z-index: 1;

    .logoText {
      display: none;
    }
  }
}

@media (width < 768px) {
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-left: -20px;
    height: 800px;
    border-left: 1px solid rgba($color: #ffffff, $alpha: 0.3);
    z-index: 1;
    transform: rotate(90deg) translate(290px, -350px);

    .logoText {
      display: none;
    }
  }
}
