.sizeModal {
	width: 500px;
	height: 560px;
}

.modalContent {
	position: absolute;
	text-align: center;
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	z-index: 300;
	animation: show 800ms ease-in-out;

	p {
		width: 300px;
		font-size: 20px;
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
