.tooltipWrapper {
    // &:hover .tooltip {
    // 	display: block;
    // }

    position: relative;
}

.tooltip {
    // display: none;
    position: absolute;
    top: 30px;
    left: 12px;
    background-color: #000;
    color: #fff;
    padding: 0.4rem 0.8rem;
    width: max-content;
    z-index: 100000;

    .tooltipContent {
        font-size: 1.2rem;
        font-weight: 400;
        color: #c5c5c5;
    }
}
