.popupWrapper {
	position: relative;

	.popup {
		// display: none;
		padding: 20px 0;
		position: absolute;
		top: 30px;
		left: 12px;
		background-color: #000;
		color: #fff;
		// width: max-content;
		border-radius: 10px;
		z-index: 100000;

		.popuppContent {
			font-size: 1.2rem;
			font-weight: 400;
			color: #c5c5c5;
		}
	}
}
