.postsList {
  margin-top: 30px;
  animation: slowMo 1s ease-in;
}

.progress {
  text-align: center;
}

.skeleton {
  margin-bottom: -60px;
}

@keyframes slowMo {
  from {
    margin-top: 100px;
  }
  to {
    margin-top: 30px;
  }
}
