.mainSection {
  display: flex;
  justify-content: center;
  padding-left: 260px;
  overflow: hidden;
}

@media (width < 1260px) {
  .mainSection {
    justify-content: center;
    padding-left: 0px;
  }
}
